.main-nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 15px;
}

.left-nav > ul,
.right-nav > ul {

}

.left-nav {


  > ul {
    display: flex;
    align-items: flex-start;
    > li {

    }
  }

  li:last-of-type {
    background-color: rgb(240, 240, 240);
  }
}

.right-nav  {

  > ul {  display: flex;
    align-items: flex-end;

    > li {
      
    }

    > li:last-of-type {
      background-color: rgb(240, 240, 240);
      font-size: larger;
    }
  }
  
  i {

  }
}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {

}
